* {
  box-sizing: border-box;
}

body {
  --background-color: beige;
  --text-color: navy;
  --header-color-1: bisque;
  --header-color-2: skyblue;
  --test-border: red;
  --hover: lightseagreen;
  --link-active-color: blueviolet;
  --link-active-background: whitesmoke;
  --page-background-color: white;
  --page-text-color: black;
  margin: 0;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --page-background-color: black;
    --page-text-color: white;
  }
}

html {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-family: "Helvetica", sans-serif;
}

.header {
  padding: 2rem 1rem;
  text-align: center;
  background-color: var(--header-color-1);
  background-image: linear-gradient(
    var(--header-color-2),
    var(--header-color-1)
  );
  position: relative;
}

.header-experience {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (min-width: 786px) {
  .header-experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.name-header {
  font-size: 3rem;
}

.name-header-h1 {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.main {
  padding: 2rem 1rem;
  max-width: 75ch;
  margin: 0 auto;
}

.nav-link {
  padding: 4px 8px;
  color: black;
  _border: dotted var(--test-border);
  _align-items: center;
  transition: background-color 0.5s;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 786px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.nav-link:hover {
  color: whitesmoke;
  background-color: var(--hover);
}

.nav-link:active {
  color: var(--link-active-color);
  background-color: var(--link-active-background);
}

.nav-link:focus {
  background-color: var(--background-color);
  outline-color: var(--page-text-color);
  outline-style: dotted;
}

article + article {
  border-top: solid var(--header-color-2);
}

@media screen and (min-width: 786px) {
  article + article {
    margin-top: 3rem;
  }
}

::selection {
  background-color: slateblue;
  color: darkkhaki;
}

.profession::after {
  content: "🤖";
}

.experience {
  display: inline-block;
}

.experience-sub {
  display: inline-block;
  border: solid var(--test-border);
  margin-left: 1rem;
}

.heading-article {
  position: relative;
  left: -20px;
}

.hire-me {
  position: absolute;
  height: 30px;
  width: 80px;
  right: 16px;
  top: 16px;
  padding: 10px;
  border-radius: 4px;
  font: Verdana;
  font-size: 12px;
  background: midnightblue;
  color: var(--header-color-2);
}

.hire-me {
  transform-origin: 100% 0%;
  transition: transform 1s;
}

.header:hover .hire-me {
  transform: scale(2);
}

@media screen and (min-width: 786px) {
  html {
    font-size: 110%;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 130%;
  }
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .nav {
    display: none;
  }
  .hire-me {
    display: none;
  }
}

.footer {
  _text-align: center;
  margin-top: 3rem;
  padding: 2rem;
  background-image: linear-gradient(
    var(--header-color-1),
    var(--header-color-2)
  );
}

.footer-inhalt {
  text-align: center;
}
