* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-family: "Helvetica", sans-serif;
}

.header {
  padding: 2rem 1rem;
  text-align: center;
  background-color: bisque;
  position: relative;
}

.name-header {
  font-size: 3rem;
}

.name-header-h1 {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.main {
  padding: 2rem 1rem;
  max-width: 75ch;
  margin: 0 auto;
}

.nav-link {
  padding: 4px 8px;
  color: black;
  border: dotted red;
  _align-items: center;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 786px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.nav-link:hover {
  color: whitesmoke;
  background-color: lightseagreen;
}

.nav-link:active {
  color: blueviolet;
  background-color: whitesmoke;
}

article + article {
  border-top: solid black;
}

@media screen and (min-width: 786px) {
  article + article {
    margin-top: 3rem;
  }
}

::selection {
  background-color: slateblue;
  color: darkkhaki;
}

.profession::after {
  content: "🤖";
}

.experience {
  display: inline-block;
}

.experience-sub {
  display: inline-block;
  border: solid red;
}

.heading-article {
  position: relative;
  left: -20px;
}

.hire-me {
  position: absolute;
  height: 60px;
  width: 60px;
  right: 16px;
  top: 16px;
  padding: 10px;
  border-radius: 50%;
  font: Verdana;
  font-size: 12px;
  background: midnightblue;
  color: lightskyblue;
}

@media screen and (min-width: 786px) {
  html {
    font-size: 110%;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 130%;
  }
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .nav {
    display: none;
  }
  .hire-me {
    display: none;
  }
}
